
body {background-color: #181a1b;}

img {
  width: 30%;
  margin: 1.66%;
  float: left;
}

h1{
  background-color: #181a1b;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  color: #ffff;
  border-bottom: 2px solid red;
  padding: 8px 0 8px 0;
  width: 40%;
  margin-left: 1.66%;
}
